[Desktop Entry]
Name=yang
Comment=Yet another NBH generator
Exec=/usr/bin/yangGUI
Icon=/usr/share/icons/gnome/32x32/actions/gtk-save.png
Terminal=false
Type=Application
Categories=Utility;Application;
